@model Character;

@{
    ViewData["Title"] = "Character information";
}

<div class="text-center">
    <h1>@Model.Name</h1>
    <br/>
    <div class="container">
    <div class="main-body">
    
          <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">
                    <img src="@Model.ImageURL" alt="Admin" class="" width="150">
                    <div class="mt-3">
                      <h4>@Model.Name</h4>
                      <p class="text-secondary mb-1">@Model.Appeareance["gender"]</p>
                      <p class="text-muted font-size-sm">@Model.Appeareance["race"]</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-8">
              <div class="card mb-3">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Full Name</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      @Model.Biography["full-name"]
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Alter egos</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      @Model.Biography["alter-egos"]
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Place of birth</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      @Model.Biography["place-of-birth"]
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">First Appearance</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      @Model.Biography["first-appearance"]
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Publisher</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      @Model.Biography["publisher"]
                    </div>
                  </div>
                  <hr>
                </div>
              </div>

              <div class="row gutters-sm">
                <div class="col-sm-6 mb-3">
                  <div class="card h-100">
                    <div class="card-body">
                      <h6 class="d-flex align-items-center mb-3">Power Statistics</h6>
                      <small>Intelligence</small>
                      <div class="progress mb-3" style="height: 5px">
                        <div class="progress-bar bg-primary" role="progressbar" style='width: @Model.PowerStats["intelligence"]%' aria-valuenow='@Model.PowerStats["intelligence"]' aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      <small>Strength</small>
                      <div class="progress mb-3" style="height: 5px">
                        <div class="progress-bar bg-primary" role="progressbar" style='width: @Model.PowerStats["strength"]%' aria-valuenow='@Model.PowerStats["strength"]' aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      <small>Speed</small>
                      <div class="progress mb-3" style="height: 5px">
                        <div class="progress-bar bg-primary" role="progressbar" style='width: @Model.PowerStats["speed"]%' aria-valuenow='@Model.PowerStats["speed"]' aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      <small>Durability</small>
                      <div class="progress mb-3" style="height: 5px">
                        <div class="progress-bar bg-primary" role="progressbar" style='width: @Model.PowerStats["durability"]%' aria-valuenow='@Model.PowerStats["durability"]' aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      <small>Power</small>
                      <div class="progress mb-3" style="height: 5px">
                        <div class="progress-bar bg-primary" role="progressbar" style='width: @Model.PowerStats["power"]%' aria-valuenow='@Model.PowerStats["power"]' aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      <small>Combat</small>
                      <div class="progress mb-3" style="height: 5px">
                        <div class="progress-bar bg-primary" role="progressbar" style='width: @Model.PowerStats["combat"]%' aria-valuenow='@Model.PowerStats["combat"]' aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                    </div>
                  </div>
                </div>
                </div>
              </div>
            </div>
          </div>

        </div>
    </div>

</div>
